html,body,#root {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100%;
  background: #272626;
}

body {
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-synthesis: none;
}

* {
  -moz-user-select: none;  
  -webkit-user-select: none;  
  -ms-user-select: none;  
  user-select: none;  
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  -webkit-touch-callout: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

.loader {
	animation-name: spin;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
			
@keyframes spin {
	0% { transform: rotate(0deg); }
	50% { transform: rotate(180deg); }
	100% { transform: rotate(360deg); }
}

input::placeholder { color: #767676; }
input::-webkit-input-placeholder { color: #767676; }
input::-moz-placeholder { color: #767676; }
input:-ms-input-placeholder { color: #767676; }

@font-face { font-family: 'Inter'; src: url('./assets/fonts/Inter_24pt-Thin.ttf') format('truetype'); font-weight: 100; font-style: normal; }
@font-face { font-family: 'Inter'; src: url('./assets/fonts/Inter_24pt-ExtraLight.ttf') format('truetype'); font-weight: 200; font-style: normal; }
@font-face { font-family: 'Inter'; src: url('./assets/fonts/Inter_24pt-Light.ttf') format('truetype'); font-weight: 300; font-style: normal; }
@font-face { font-family: 'Inter'; src: url('./assets/fonts/Inter_24pt-Regular.ttf') format('truetype'); font-weight: 400; font-style: normal; }
@font-face { font-family: 'Inter'; src: url('./assets/fonts/Inter_24pt-Medium.ttf') format('truetype'); font-weight: 500; font-style: normal; }
@font-face { font-family: 'Inter'; src: url('./assets/fonts/Inter_24pt-SemiBold.ttf') format('truetype'); font-weight: 600; font-style: normal; }
@font-face { font-family: 'Inter'; src: url('./assets/fonts/Inter_24pt-Bold.ttf') format('truetype'); font-weight: 700; font-style: normal; }
@font-face { font-family: 'Inter'; src: url('./assets/fonts/Inter_24pt-ExtraBold.ttf') format('truetype'); font-weight: 800; font-style: normal; }
@font-face { font-family: 'Inter'; src: url('./assets/fonts/Inter_24pt-Black.ttf') format('truetype'); font-weight: 900; font-style: normal; }

@font-face { font-family: 'Inter'; src: url('./assets/fonts/Inter_24pt-ThinItalic.ttf') format('truetype'); font-weight: 100; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('./assets/fonts/Inter_24pt-ExtraLightItalic.ttf') format('truetype'); font-weight: 200; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('./assets/fonts/Inter_24pt-LightItalic.ttf') format('truetype'); font-weight: 300; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('./assets/fonts/Inter_24pt-Italic.ttf') format('truetype'); font-weight: 400; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('./assets/fonts/Inter_24pt-MediumItalic.ttf') format('truetype'); font-weight: 500; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('./assets/fonts/Inter_24pt-SemiBoldItalic.ttf') format('truetype'); font-weight: 600; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('./assets/fonts/Inter_24pt-BoldItalic.ttf') format('truetype'); font-weight: 700; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('./assets/fonts/Inter_24pt-ExtraBoldItalic.ttf') format('truetype'); font-weight: 800; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('./assets/fonts/Inter_24pt-BlackItalic.ttf') format('truetype'); font-weight: 900; font-style: italic; }
